body {
background-color:#E8ECEF
}

.aboutattack {
text-align:center;
color: #484644;
}

.aboutmidcourt {
text-align:center;
color: #484644;
}

.aboutdefence {
text-align:center;
color: #484644;
}

nav {
  background-color: lightblue;
}

nav a {
  float: left;
  display: block;
  padding: 14px ;
}

nav a:hover {
  background-color: #CFDCE8;
}

.info {
text-align:center;
color: #484644;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.navbar {
  grid-column: 1 / 4; 
}

.header {
  grid-column: 1 / 4; 
}

.info {
  grid-column: 1 / 4; 
}

.container div {
  background-color: #C3D4E3;
  padding: 15px;
}

a {
  color: #484644;
  text-decoration: none;
}

h4,p,h2,li,h1{ 
  color:#484644;
}

h1{
  text-align: center;
}

.wheregoaldefencecangooncourt, wheregoalshotcangooncourt {
text-align: center;

}


