body {
  background-color:#E8ECEF
  }

.aboutattack {
text-align:center;
}

.aboutmidcourt {
text-align:center;
}

.aboutdefence {
text-align:center;
}

nav {
  background-color: lightblue;
}

nav a {
  float: left;
  display: block;
  padding: 14px ;
}

nav a:hover {
  background-color: #C5EBFE;
}

.info {
text-align:center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.navbar {
  grid-column: 1 / 4; 
}

.header {
  grid-column: 1 / 4; 
}

.info {
  grid-column: 1 / 4; 
}

.container div {
  background-color: #C3D4E3;
  padding: 15px;
}


