.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.navbar {
  grid-column: 3 / 3; 
}

.header/image {
  grid-column: 3 / 3; 
}

.aboutattack {
  grid-column: 1 / 3; 
}

.aboutmidcourt {
  grid-column: 1 / 3; 
}

.aboutdefence {
  grid-column: 1 / 3; 
}